image: ruby:2.3

# define the environment variables
variables:
  JEKYLL_ENV: production

# 'bundle' all the required gems for the project
before_script:
  - bundle install

# build and deploy the site
pages:
  script:
  - bundle exec jekyll build -d public
  artifacts:
    paths:
    - public
  only:
  - pages
