<aside class='authors'>
  <h3><a href="/about/" title="About Me">About Us</a></h3>{% for authors in site.author %}{% assign author = site.data.authors[authors] %}
{% capture image %}{% if author.gravatar %}https://secure.gravatar.com/avatar/{{author.gravatar}}?s=150 %}{% else %}/assets/images/{{author.image}}{% endif %}{% endcapture %}
  <img src="{{image}}" title="{{author.name}}" alt="{{author.name}}" />
  <p>{{author.name}}<br>{{author.about}}</p>
  {% include partials/mini-social.html %}<hr />{% endfor %}
</aside>

<aside>
  <h3>My Tweets</h3>
  <a class="twitter-timeline" href="https://twitter.com/richard_p2" data-widget-id="250856108174999552">Tweets by @richard_p2</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</aside>                
