<aside class='authors'>
  <h3><a href="/about/" title="About Us">About Us</a></h3>{% for a in site.authors %}{% assign author = site.data.authors[a] %}
{% capture image %}{% if author.gravatar %}https://secure.gravatar.com/avatar/{{author.gravatar}}?s=150 %}{% else %}/assets/images/{{author.image}}{% endif %}{% endcapture %}
  <img src="{{image}}" title="{{author.name}}" alt="{{author.name}}" />
  <p>{{author.name}}<br>{{author.about}}</p>
  {% include partials/mini-social.html %}<hr />{% endfor %}
</aside>            

<aside class='where'>
  <h3>Where We've Been</h3>
  <iframe width="220" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?source=embed&amp;ie=UTF8&amp;hl=en&amp;t=h&amp;msa=0&amp;msid=215601560273229916664.0004793269f020280c25c&amp;ll=46.073231,-4.21875&amp;spn=140.043745,310.78125&amp;z=0&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?source=embed&amp;ie=UTF8&amp;hl=en&amp;t=h&amp;msa=0&amp;msid=215601560273229916664.0004793269f020280c25c&amp;ll=46.073231,-4.21875&amp;spn=140.043745,310.78125&amp;z=0" style="color:#0000FF;text-align:left">Rosie &amp; Jim's Travels</a> in a larger map</small>
</aside>