{% if post.author %}{% assign author = site.data.authors[post.author] %}{% else %}{% assign author = site.data.authors[site.owner] %}{% endif %}
              <span class='meta'>
                <i class='fa fa-clock-o'></i><time itemprop='datePublished' content='{{ post.date | date: '%F' }}' datetime='{{ post.date }}'> {{ post.date | date: "%d %b %Y" }}</time>
                &nbsp; | &nbsp;
                <i class='fa fa-user'></i> <span itemprop='author'><a href='/author/{{ author.name | downcase | replace: ' ', '-' }}/' title='{{ author.name }}'>{{ author.name }}</a></span> 
                &nbsp; | &nbsp; 
                <i class='fa fa-folder-open'></i> <span itemprop='keywords'>{{ post.categories | category_links }}</span>
              </span>