{% assign author = site.data.authors[site.owner] %}
        <div class='social'>
          {% if author.facebook %}<span class="fa-stack fa-2x">
            <a href='//www.facebook.com/{{author.facebook}}' title='Facebook'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </a>
          </span>{% endif %}
          {% if author.twitter %}<span class="fa-stack fa-2x">
            <a href='//twitter.com/{{author.twitter}}' title='Twitter'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </a>
          </span>{% endif %}
          {% if author.github %}<span class="fa-stack fa-2x">
            <a href='//github.com/{{author.github}}' title='GitHub'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
            </a>
          </span>{% endif %}
          {% if author.email %}<span class="fa-stack fa-2x">
            <a href='mai&#108;to&#58;{{author.email}}' title='Email'>
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
          </span>{% endif %}
          <span class="fa-stack fa-2x">
            <a href='/feed.xml' title='RSS Feed'>
              <i class="fa fa-circle fa-stack-2x feed"></i>
              <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
            </a>
          </span>
        </div>