{% capture read_more %}<a class='read-more' href='{{ post.url }}' itemprop='url'>read more <i class='fa fa-chevron-right'></i></a>{% endcapture %}
{% capture thumb %}{% if post.image %}<img src='{{ post.image }}' title='{{ post.title }}' alt='{{ post.title }}' class='alignleft' />{% endif %}{% if post.flickimg %}{% flickr_image post.flickimg %}{% endif %}{% endcapture %}
{% case post.layout %}
    {% when 'gallery' %} 
            <header>             
              <h2 itemprop='headline'><a href='{{ post.url }}' itemprop='url'><i class='fa fa-picture-o'></i> {{ post.title }}</a></h2>
              {% include partials/meta.html %}
            </header>
    {% when 'image' %}
            <header>
              {% if post.image %}<img src='{{ post.image }}' title='{{ post.title }}' alt='{{ post.title }}' class='aligncentre' />{% endif %}
                {% if post.flickimg %}{% flickr_image post.flickimg aligncentre d %}{% endif %}
              <h2 itemprop='headline'><a href='{{ post.url }}' itemprop='url'><i class='fa fa-picture-o'></i> {{ post.title }}</a></h2>
              {% include partials/meta.html %}
            </header>           
    {% when 'video' %}
            <header>
              {% oembed https://www.youtube.com/watch?v={{post.video}}&rel=0 width=560 height=315 %}
              <h2 itemprop='headline'><a href='{{ post.url }}' itemprop='url'><i class='fa fa-film'></i> {{ post.title }}</a></h2>
              {% include partials/meta.html %}
            </header>
    {% when 'link' %}
            <header>     
              <h2><a href='{{ post.link }}' itemprop='url'><i class='fa fa-link'></i> {{ post.title }}</a></h2>
            </header>
    {% else %}
            <header>     
              <h2 itemprop='headline'><a href='{{ post.url }}' itemprop='url'>{{ post.title }}</a></h2>
              {% include partials/meta.html %}
            </header>
{% endcase %}
{% case post.layout %}
    {% when 'gallery' %} 
            <section class='post-summary' itemProp='articleBody'>
                {% if post.photoset %}{% flickr_photoset post.photoset "summary" %}
                This Gallery contains {{ post.images }} photos.{% endif %}
            </section>
            
            <footer>
              {{ read_more }}
            </footer>
    {% when 'post' %}
            <section class='post-summary' itemProp='articleBody'>
              {{ thumb }}
              {{ post.content | markdownify | strip_html | truncatewords: 125 }}
            </section>
            
            <footer>
              {{ read_more }}
            </footer>
    {% else %}
            <section class='post-summary' itemProp='articleBody'>
              {{ post.content }}
            </section>
{% endcase %}