/* ==========================================================================
   Flickr Gallery Styles
   ========================================================================== */

.flickr {list-style:none;margin:0 auto;padding:0;text-align:left;}
.flickr span {display:inline-block;position:relative;}
.flickr a:hover {border:none;}
.flickr span .flickrlink {
  display:none;
  width:32px;
  height:16px;
  background:transparent url(/assets/images/flickr.png) no-repeat left top;
  position:absolute;
  right:5px;
  bottom:8px;
  opacity:.5;
  -webkit-transition:opacity 0.2s ease-in-out;
  -moz-transition:opacity 0.2s ease-in-out;
  -o-transition:opacity 0.2s ease-in-out;
  -ms-transition:opacity 0.2s ease-in-out;
  transition:opacity 0.2s ease-in-out;
}
.flickr span .flickrlink:hover{opacity:1}
.flickr span:hover .flickrlink{display:block}
    