{% include head.html %}
            
          <article itemscope itemtype="http://schema.org/BlogPosting" class="post single">
            <header>
              <h2 itemProp="headline">{{ page.title }}</h2>
              {% assign post = page %}
              {% include partials/meta.html %}
            </header>
            
            <section class="post-content" itemProp="articleBody">
              {{ content }}
            </section><!-- .post-content -->
            
            <footer>              
              {% if page.comments %}
              <div id="disqus_thread"></div> 
              {% endif %}
            </footer>
          </article><!-- .post.single -->
        
{% include foot.html %}